* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-size: 40px;
  background-color: #333;
}

.container {
  min-width: 1580px;
}

.oversize {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 200px;
}

.logo {
  margin-left: 50px;
  width: 400px;
  filter: drop-shadow(0 0mm 4mm rgb(255, 255, 255));
}

.map {
  overflow: hidden;
  position: relative;
  border-top: 4px solid whitesmoke;
}

.poreczowki {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.poreczowki .poreczowka-line {
  stroke: rgb(2, 192, 192);
  stroke-width: 1.8px;
}

img {
  display: block;
  width: 100%;
}

.img-info {
  border-radius: 25px;
  border: 2px solid whitesmoke;
  margin-bottom: 10px;
  box-shadow: 8px 8px 24px 0px rgba(34, 34, 34, 0.6);
}

li {
  font-size: 13.3px;
  font-weight: bold;
  text-transform: capitalize;
}
li a {
  text-decoration: none;
  color: #333;
  padding-left: 5px;
}

li::marker {
  font-size: 11px;
  color: magenta;
  font-weight: bold;
}

.legenda-bg {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(126, 126, 126);
  border-radius: 25px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
  width: calc(100% - 20px);
}

ol {
  background-color: white;
  border-radius: 25px;
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-left: 30px;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  list-style-position: inside;
}

.legend-text {
  position: absolute;
  padding-top: 60px;
  left: -68px;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 500;
  color: whitesmoke;
  transform: rotate(-90deg);
}

.compass {
  margin-left: 10px;
  width: 130px;
}

.popap-container {
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -60%);
  left: 10%;
  top: 10%;
  width: 240px;
  transition: all 0.5s;
  z-index: 5;
  pointer-events: none;
}
.popap-container--is-visible {
  opacity: 1;
}
.popap-container--right {
  margin-left: -110px;
}
.popap-container--right .popap-container__content::before {
  left: 90%;
}
.popap-container--left {
  margin-left: 110px;
}
.popap-container--left .popap-container__content::before {
  left: 10%;
}
.popap-container__content {
  position: relative;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: linear-gradient(-45deg, #37d5d6, #36096d);
  border-radius: 25px;
  border: 2px solid black;
}
.popap-container__content::before {
  position: absolute;
  border: 4px solid rgba(53, 53, 53, 0.45);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(70, 174, 255);
  margin-left: -20px;
  left: 50%;
  height: 0;
  bottom: -15px;
  width: 0;
  content: "";
}
.popap-container__shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px;
  left: 110px;
  filter: blur(8px);
  box-shadow: 28px -28px 39px 2px rgba(26, 26, 26, 0.35);
  transform: skew(-44deg, 0deg);
  background-color: rgba(26, 26, 26, 0.35);
  border-radius: 25px;
  transition: all 0.5s;
}

.diveInfo ~ ol {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  -moz-column-count: 1;
       column-count: 1;
  color: black;
}

.infoPlace {
  list-style-type: none;
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: 8px 8px 24px 0px rgba(3, 116, 245, 0.938);
}

.btnPaskuda {
  position: absolute;
  left: 80.8%;
  top: 30.4%;
  color: rgb(234, 0, 255);
  text-decoration: none;
  font-size: 130px;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
}

.point {
  opacity: 1;
  color: rgba(245, 245, 245, 0.6);
  position: absolute;
  transform: translate(-50%, 0%);
  left: 10%;
  top: 20%;
  z-index: 1;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 36px;
  text-shadow: 0 0 12px whitesmoke;
  transition: color 0.3s;
}
.point:hover {
  cursor: pointer;
  color: limegreen;
}

.point-label {
  position: absolute;
  transform: translate(-50%, 0%);
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
}

.btn-poreczowki {
  position: relative;
  margin-left: 150px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  width: 180px;
  height: 50px;
  border: 1.4px solid whitesmoke;
  border-radius: 15px;
  background: linear-gradient(to right top, #16806a, rgba(255, 255, 255, 0.5));
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease-in-out, transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.btn-poreczowki:hover {
  transform: scale(0.94);
  color: whitesmoke;
}

.btn-poreczowki:after {
  content: "";
  position: absolute;
  left: -60px;
  top: -15px;
  width: 50px;
  height: 150%;
  background-color: rgba(255, 255, 255, 0.4);
  transform: rotate(20deg);
  transition: transform 0.4s ease-in-out;
}

.btn-poreczowki:hover:after {
  transform: translateX(250px) rotate(20deg);
}/*# sourceMappingURL=style.css.map */