@use './reset' as reset;

@mixin sizing($w, $h) {
	width: $w;
	height: $h;
}

.oversize {
	display: flex;
	align-items: center;
	height: 170px;
}

.logo {
	margin-left: 50px;
	width: 400px;
	filter: drop-shadow(0 0mm 4mm rgb(245, 245, 245));
}

.map {
	position: relative;
	width: 100vw;
}

img {
	display: block;
	width: 100%;
}

.map {
	border-top: 4px solid whitesmoke;
}

.img-info {
	border-radius: 25px;
	border: 2px solid whitesmoke;
	margin-bottom: 10px;
	box-shadow: 8px 8px 24px 0px rgba(34, 34, 34, 0.6);
}

li {
	text-transform: lowercase;
	font-weight: bold;

	&::marker {
		font-style: italic;
		color: black;
	}
}

span {
	color: black;
	text-transform: uppercase;
}

.legenda-bg {
	position: relative;
	display: flex;
	align-items: center;
	background-color: rgb(126, 126, 126);
	border-radius: 25px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 10px;
	width: calc(100% - 20px);
}

ol {
	background-color: white;
	border-radius: 25px;
	column-count: 4;
	column-gap: 40px;
	margin-left: 30px;
	font-size: 12px;
	padding: 10px;
	width: 100%;
	list-style-position: inside;
}

.legend-text {
	position: absolute;
	padding-top: 60px;
	left: -68px;
	font-family: 'Montserrat';
	font-size: 26px;
	font-weight: 500;
	color: whitesmoke;
	transform: rotate(-90deg);
}

.compass {
	margin-left: 10px;
	width: 130px;
}

.popap-container {
	opacity: 0;
	position: absolute;
	transform: translate(-50%, -60%);
	left: 10%;
	top: 10%;
	width: 240px;
	transition: all 0.5s;

	&--is-visible {
		opacity: 1;
	}

	&__content {
		position: relative;
		width: 100%;
		padding: 12px;
		font-size: 18px;
		background: linear-gradient(-45deg, #37d5d6, #36096d);
		border-radius: 25px;
		border: 2px solid black;

		&::before {
			position: absolute;
			border: 4px solid rgba(53, 53, 53, 0.45);
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid rgb(70, 174, 255);
			margin-left: -20px;
			left: 50%;
			height: 0;
			bottom: -15px;
			width: 0;
			content: '';
		}
	}

	&__shadow {
		@include sizing(100%, 100%);
		position: absolute;
		padding: 20px;
		left: 110px;
		filter: blur(8px);
		box-shadow: 28px -28px 39px 2px rgba(26, 26, 26, 0.35);
		transform: skew(-44deg, 0deg);
		background-color: rgba(26, 26, 26, 0.35);
		border-radius: 25px;
		transition: all 0.5s;
	}
}

.diveInfo ~ ol {
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	column-count: 1;
	color: black;
}

.infoPlace {
	list-style-type: none;
	margin: 0 auto;
	border: 2px solid black;
	box-shadow: 8px 8px 24px 0px rgba(3, 116, 245, 0.938);
}

.point {
	opacity: 1;
	color: blue;
	position: absolute;
	transform: translate(-50%, 0%);
	left: 10%;
	top: 20%;
	z-index: 2;
	background-color: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	font-size: 30px;

	&:hover {
		cursor: pointer;
	}
}

.btn {
	z-index: 20;
	position: absolute;
	transform: translate(1142px, 580px);
	color: white;
	text-decoration: none;
	font-size: 130px;
	opacity: 0;
}
